<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Galería de Fotos</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />

</head>
<body>
<h1>Mi Galería</h1>
<a href="/add">Agregar Nueva Foto</a>
<div class="gallery">
    <div class="photo" th:each="photo : ${photos}">
        <img th:src="@{'/uploads/' + ${photo.imagePath}}" alt="imagen" />
        <h3 th:text="${photo.title}"></h3>
        <p th:text="${photo.description}"></p>
        <a th:href="@{'/delete/' + ${photo.id}}">Eliminar</a>
    </div>
</div>
</body>
</html>
