<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Galería de Fotos</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />

</head>
<body>
<h1>Mi Galería</h1>
<a href="/add">Agregar Nueva Foto</a>
<div class="gallery">
    <div class="photo" th:each="photo : ${photos}">
        <img th:src="@{'/Upload/' + ${photo.imagePath}}" alt="imagen" />
        <h1 th:text="${photo.imagePath}"></h1>
        <h3 th:text="${photo.title}"></h3>
        <p th:text="${photo.description}"></p>
        <a href="#" class="like-button" th:attr="data-id=${photo.id}">
            ❤️ Like <span class="like-count" th:id="'likes-' + ${photo.id}" th:text="${photo.likes}">0</span>
        </a>

        <a th:href="@{'/delete/' + ${photo.id}}">Eliminar</a>
    </div>
</div>
<script th:src="@{/like-handler.js}"></script>
</body>
</html>
